<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{access.denied.title}">Access Denied</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    
</head>
<body>
<div class="access-denied-container">
        <div class="access-denied-title" th:text="#{access.denied.title}">Access Denied</div>
        <div class="access-denied-message">
            <span th:text="#{access.denied.message}">You do not have permission to access this page. If you believe this is an error, please contact your administrator.</span>
        </div>
        <a th:href="@{/dashboard}" class="access-denied-home" th:text="#{access.denied.home}">Go to Home</a>
</div>
</body>
</html>
